:root {
    --f2: "Montserrat", sans-serif; 
    --c1: #62C1E5;
    --c2: #A0D9EF;
    --c3: #1C96C5;
    --c4:#20A7DB;

    /* Colores Eco-Pack */
    --eco1:#BE106A;
    --eco2:#942065;
    
    /* Colores Luxury */

    --lux1:#99518E;
    --lux2:#592D6A;


    /* Colores mega pack */

     --mega1:#922D89;
    --mega2:#E33D8E;

    /* Colores serv */

    --serv1:#E43214;
    --serv2:#E6923A;
    --serv3:#4E9293;
}


@font-face {
    font-family: "Ekamai";
    src: url("/fonts/Ekamai.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
    font-weight: 400;
    font-style: normal; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
